.root {	
	-eq-bg: 			transparent;
	-eq-fg: 			-eq-bg;
	-eq-fixed: 			-eq-bg;
	-eq-fg-fixed: 		-eq-bg;
	-eq-item: 			-eq-bg;
}

/*********** --> Equipment base styles ***********/
.equipment-empty{
	-eq-bg: 			hsb(000, 000%, 100%); /* x§§§ Empty Module/Item Slots */
	-eq-fg: 			hsb(000, 080%, 080%); /* x§§§ Empty Module/Item Slot Text */
	-eq-fixed: 			-eq-bg;
	-eq-fg-fixed: 		-eq-fg;
	-eq-item: 			-eq-bg;
}

.equipment-internal{
	-eq-item: 		hsb(000, 000%, 000%); /* x§§§ Unknown */
	-eq-fg: 		hsb(000, 000%, 000%); /* x§§§ Unknown */
	-eq-fixed: 		hsb(200, 000%, 040%); /* x§§§ Fixed Internals BG*/
	-eq-fg-fixed: 	hsb(200, 000%, 080%); /* x§§§ Fixed Internals TXT*/
}

.equipment-dynamic{
	-eq-item: 		hsb(000, 000%, 000%); /* x§§§ Unknown */
	-eq-fg: 		hsb(000, 000%, 000%); /* x§§§ Unknown */
	-eq-fixed: 		hsb(200, 000%, 060%); /* x§§§ Dynamic ESFF BG */
	-eq-fg-fixed: 	hsb(200, 000%, 100%); /* x§§§ Dynamic ESFF TXT */
}

.equipment-energy{
	-eq-item: 		hsb(055, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 		hsb(055, 000%, 020%); /* §§§ Nav BG */
	-eq-fg: 		hsb(055, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 	hsb(055, 000%, 020%); /* §§§ Nav Unavailable Item BG */
	-eq-fg-dark: 	hsb(055, 000%, 050%); /* §§§ Nav Unavailable Item TXT */
	-eq-fixed: 		hsb(055, 080%, 060%); /* §§§ */
	-eq-fg-fixed:	hsb(055, 000%, 080%); /* §§§ */
}

.equipment-ballistic-ammo,
.equipment-ballistic{
	-eq-item:  		hsb(270, 080%, 080%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg:			hsb(270, 000%, 020%); /* §§§ */
	-eq-fg:			hsb(270, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark:	hsb(270, 000%, 020%); /* §§§ */
	-eq-fg-dark:	hsb(270, 000%, 050%); /* §§§ */
	-eq-fixed: 		hsb(270, 080%, 060%); /* §§§ */
	-eq-fg-fixed:	hsb(270, 000%, 080%); /* §§§ */
}

.equipment-ballistic-ammo{
	-eq-item:  		hsb(270, 080%, 060%); /* x§§§ Ammo Nav Header & Icon BG, Hardpoint BG, Item BG */
}

.equipment-missile-ammo,
.equipment-missile{
	-eq-item: 		hsb(172, 080%, 080%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 		hsb(172, 000%, 020%); /* §§§ */
	-eq-fg: 		hsb(172, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 	hsb(172, 000%, 020%); /* §§§ */
	-eq-fg-dark: 	hsb(172, 000%, 050%); /* §§§ */
	-eq-fixed: 		hsb(172, 080%, 060%); /* §§§ */
	-eq-fg-fixed:	hsb(172, 000%, 080%); /* §§§ */
}

.equipment-missile-ammo{
	-eq-item:  		hsb(172, 080%, 060%); /* x§§§ Ammo Nav Header & Icon BG, Hardpoint BG, Item BG */	
}

.equipment-ams-ammo,
.equipment-ams{	
	-eq-item: 			hsb(080, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 			hsb(080, 000%, 020%); /* §§§ */
	-eq-fg: 			hsb(080, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 		hsb(080, 000%, 020%); /* §§§ */
	-eq-fg-dark: 		hsb(080, 000%, 050%); /* §§§ */
	-eq-fixed: 			hsb(080, 080%, 060%); /* §§§ */
	-eq-fg-fixed:		hsb(080, 000%, 080%); /* §§§ */
}

.equipment-ams-ammo{
	-eq-item: 			hsb(080, 060%, 040%); /* x§§§ Ammo Nav Header & Icon BG, Hardpoint BG, Item BG */
}

.equipment-ecm{
	-eq-item: 			hsb(035, 080%, 080%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 			hsb(035, 000%, 020%); /* §§§ */
	-eq-fg: 			hsb(035, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 		hsb(035, 000%, 020%); /* §§§ */
	-eq-fg-dark: 		hsb(035, 000%, 050%); /* §§§ */
	-eq-fixed: 			hsb(035, 080%, 060%); /* §§§ */
	-eq-fg-fixed:		hsb(035, 000%, 080%); /* §§§ */
}

.equipment-engine{
	-eq-item: 			hsb(198, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 			hsb(198, 000%, 020%); /* §§§ */
	-eq-fg: 			hsb(198, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 		hsb(198, 000%, 020%); /* §§§ */
	-eq-fg-dark: 		hsb(198, 000%, 050%); /* §§§ */
	-eq-fixed: 			hsb(198, 080%, 060%); /* §§§ */
	-eq-fg-fixed: 		hsb(198, 000%, 080%); /* §§§ */
}

.equipment-jj,
.equipment-hs,
.equipment-misc{				
	-eq-item: 			hsb(198, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 			hsb(198, 000%, 020%); /* §§§ */
	-eq-fg: 			hsb(198, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 		hsb(198, 000%, 020%); /* §§§ */
	-eq-fg-dark: 		hsb(198, 000%, 050%); /* §§§ */
	-eq-fixed: 			hsb(198, 080%, 060%); /* §§§ */
	-eq-fg-fixed: 		hsb(198, 000%, 080%); /* §§§ */
}

.equipment-hs,
.equipment-jj{
	-eq-item: 			hsb(198, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-fg: 			hsb(198, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-fixed: 			hsb(198, 080%, 060%); /* §§§ */
	-eq-fg-fixed: 		hsb(198, 000%, 080%); /* §§§ */
}

.equipment-consumable,
.equipment-weapon-module,
.equipment-mech-module{
	-eq-item: 			hsb(240, 080%, 060%); /* x§§§ Nav Header & Icon BG, Hardpoint BG, Item BG */
	-eq-bg: 			hsb(240, 000%, 020%); /* §§§ */
	-eq-fg: 			hsb(240, 000%, 100%); /* x§§§ Nav Header & Icon TXT, Hardpoint TXT, Item TXT */
	-eq-bg-dark: 		hsb(240, 000%, 020%); /* §§§ */
	-eq-fg-dark: 		hsb(240, 000%, 050%); /* §§§ */
}


/*********** --> Base style for all equipments in the eq list ***********/
.hard-point{
	-fx-background-color: -eq-item;
	-fx-text-background-color: -eq-fg;
	-fx-padding: 2.0pt;
	-fx-background-radius: 5.0pt;
}

.equipment-list-row .icon-small{
	-fx-pref-width:12pt;
	-fx-pref-height:12pt;
	-fx-background-color: -eq-item;
	-fx-text-background-color: white;	
}

.equipment-list-row .label,
.equipment-list-row .cell{
	-fx-padding: 0;	
}

.equipment-list-row{
    -fx-color: derive(-eq-bg, 20%);
    -fx-selection-bar: -eq-bg;
    -fx-selection-bar-non-focused: derive(-fx-selection-bar, -40%);
	-fx-indent: -1.5em;
	
	-fx-background: -eq-bg;
	-fx-text-background-color: -eq-fg;	
}

.equipment-list-row:selected{
    -fx-selection-bar: derive(-eq-bg, 20%);
	-fx-background: derive(-eq-bg, 20%);
}

.equipment-list-row:unequippable{
    -fx-color: derive(-eq-bg-dark, 20%);
	-fx-background: -eq-bg-dark;
	-fx-text-background-color: -eq-fg-dark;	
}

.equipment-list-row:unequippable:selected{
	-fx-background: derive(-eq-bg-dark, 20%);
} 

.equipment-list-row:smartplaceable{
	-fx-background: linear-gradient(from 200.0 0.0 to 201.0 1.0, -eq-bg 0.0%, -eq-bg-dark 100.0%);
}

.equipment-list-row:smartplaceable:selected{
	-fx-background: linear-gradient(from 200.0 0.0 to 201.0 1.0, derive(-eq-bg, 20%) 0.0%, derive(-eq-bg-dark, 20%) 100.0%);
}

.equipment-category{
	-fx-background: -eq-item;
	-fx-text-background-color: -eq-fg;
    -fx-color: derive(-eq-item, 20%);
    -fx-selection-bar: derive(-eq-item, 20%);
    -fx-selection-bar-non-focused: derive(-fx-selection-bar, -40%);
}

.equipment-category:selected{
	-fx-background: derive(-eq-item, 20%);
    -fx-selection-bar: derive(-eq-item, 20%);
}

.equipped:focused,
.equipped:selected,
.equipped{
	-fx-color: derive(-eq-item, -30%);
	-fx-base: derive(-eq-item, -30%);
	-fx-background: -eq-item;
	-fx-background-color: -eq-item;
    -fx-background-insets: 1 !important;
	-fx-background-radius: 0.0 6.0 0.0 6.0;
	
	-fx-text-background-color: -eq-fg;
	
	-fx-font-weight: bolder;
	-fx-alignment: top-left;
	-fx-padding: 3.0pt;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";

	lsml-base-colour: derive(-eq-item, -30%);
}

.equipped:disabled{
	-fx-background-color: -eq-fixed;
	-fx-text-background-color: -eq-fg-fixed;
	-fx-opacity: 50.0%;
}

.equipped:disabled .cell {
	-fx-text-background-color: -eq-fg-fixed;
}